<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W4D2 - Magic 8 Ball Answer</title>
</head>
<body>
    <h1>Magic 8 ball</h1>
    <hr/>
    <h3>Your answer: <%= answer %></h3>
    <br/>
    <hr/>
    <button id='back-button'>Ask something else</button>
</body>
</html>
