<div class="Products">
    <h4>Available Products</h4>
    <button><a href="/product?pid=0">Apple</a></button>
    <button><a href="/product?pid=1">Gummy bears (x10)</a></button>
    <button><a href="/product?pid=2">Juice</a></button>
    <hr/>
</div>
